.app-container {
  display: flex;
  min-height: 100vh;
}


.main-content {
  flex-grow: 1;
  margin-left: 4rem; /* Match sidebar width */
  padding: 2rem;
  background: #1a1a1a;
  min-height: 100vh;
  box-sizing: border-box;
}

html, body {
  background: #1a1a1a;
  margin: 0;
  padding: 0;
  height: 100%;
}
